@import './md.css';


html.dark {
	background: #100c2a !important;
}

.prose {
	scroll-behavior: smooth;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-blue-700 bg-opacity-75;

	background: repeating-linear-gradient(90deg, #00dc82 0, #34cdfe 50%, #0047e1);
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/*
* 全局滚动条
*/
::-webkit-scrollbar {
	width: 8px;
	height: 11px;
	background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(233, 236, 239);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(246, 247, 248);
	border-radius: 10px;
}

html.dark ::-webkit-scrollbar,
html.dark ::-webkit-scrollbar-track {
	background-color: #212529;
}

html.dark ::-webkit-scrollbar-thumb {
	background-color: #343a40;
}